<?xml version="1.0"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <service licenseKey="REPLACE_WITH_LICENSE_KEY" />
  <application>
    <name>App3-Analytics-LoadGenerator-DotNet</name>
  </application>
  <log level="info" />
  <transactionTracer enabled="true"
    transactionThreshold="apdex_f"
    stackTraceThreshold="500"
    recordSql="obfuscated"
    explainEnabled="true"
    explainThreshold="500" />
  <distributedTracing enabled="true" />
  <databaseTracer enabled="true">
    <queries>
      <query name="SELECT" maxLength="4096"/>
    </queries>
  </databaseTracer>
  <attributes enabled="true">
    <include>request.parameters.*</include>
  </attributes>
</configuration>
